* {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }

    body {
      height: 100vh;
      background-color: #060606; /* dark background */
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: 'Segoe UI', sans-serif;
    }

    .navbar {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 40px;
      background-color: #f9f9f9;
      border-radius: 40px;
      padding: 20px 40px;
      box-shadow: 0 8px 20px #b90e0e;
      flex-wrap: wrap;
    }

    .nav-item {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-decoration: none;
      color: #060606;
      transition: all 0.5s ease;
    }

    .nav-item i {
      background-color: #b90e0e;
      padding: 10px;
      border-radius: 50px;  
      font-size: 24px;
      margin-bottom: 6px;
      color: #f9f9f9;
      transition: all 0.5s ease;
    }

    .nav-item span {
      font-size: 13px;
      font-weight: 500;
    }

    .nav-item:hover {
      transform: translateY(-25px);
    }

    .nav-item:hover i {
      color: #f9f9f9;
      text-shadow: 0 4px 10px #b90e0e;
    }

    @media (max-width: 500px) {
      .navbar {
        gap: 25px;
        padding: 15px 25px;
      }

      .nav-item i {
        font-size: 20px;
      }

      .nav-item span {
        font-size: 12px;
      }
    }