/* General Styles */
body {
  font-family: Arial, sans-serif;
  background-color: #ebeaea;
  margin: 0;
  padding: 0;
}

/* Header Styling */
header {
  background-color: #004080;
  color: #ffffff;
  padding: 10px;
}

nav {
  padding: 0px;
}

nav ul {
  background-color: #004080;
  list-style-type: none;
  display: flex;
  margin: 0px;
  padding: 0;
}

nav li {
    list-style: none;
    color: #ffffff;
}

nav li a {
    font-size: 14px;
    text-transform: uppercase;
    padding: 0px 10px;
    color: white;
    text-decoration: none;
}

/* Main Content */
main {
  padding: 20px;
}

.container {
  border: 2px solid #004080;
  padding: 10px;
  border-radius: 8px;         
  background-color: #f9f9f9;
}

/* Recent Articles Section */

.article-item {
  margin-bottom: 15px;
}

.recent-article {
  border: 2px solid #004080;
  padding: 20px; 
  margin: 10px auto;    
  border-radius: 8px;         
  background-color: #f9f9f9;
  flex-wrap: wrap;
}


/* Footer Styling */
footer {
  background-color: #004080;
  color: white;
  text-align: center;
  padding: 14px;
  margin-top: 30px;
}

footer a {
    color: #ffffff;
    text-decoration: none;
    margin: 0 10px;
    font-size: 14px;
    transition: color 0.3s ease;
}

footer a:hover,
footer a:focus {
    color: #fff;
    text-decoration: underline;
}